@import url(normalize.css);

.page {
	width:  100%;
	min-height:100vh;
	background-color: rgb(31, 29, 29);
	margin: 0;
	padding: 0;
	color: white;
	display: flex;
	
	align-items: center;
	flex-direction: column;

}

.page__section {
	max-width: 780px;
	width: 100%;
	/*border:2px solid salmon;*/
	margin: 20px 0;
}

.header {
	max-width: 780px;
	width: 100%;
	min-height: 80px;
}

.card {
	border:1px solid rgba(255,255,255,.3);
	min-height: 60px;
	margin: 0 0 10px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}


.page__form {
	display: flex;
}

.form__input {
	width: 60%;
	min-height: 40px;

}

.form__submit {
	margin: 0 0 0 40px;
}

.card__button {
	width: 14px;
	height: 14px;
	background-size: cover;
	background-position: center;
	background-color: transparent;
	border: 0;
	margin: 0 10px 0 0;
	cursor: pointer;
}

.card__button-edit {
	background-image: url(../images/edit1.png);
}

.card__button-star {
	background-image: url(../images/star1.png);
}

.card__button-delete {
	background-image: url(../images/trash1.png);
}

.cards-list {
	list-style-type: none;
	margin: 0;
	padding: 30px 0 15px 0;
	border-bottom: 1px solid grey;
}
.cards-list:last-of-type {
	border: 0;
}
.temporary_list {
	display: flex;
	flex-direction: column;
}

.card__input-text {
	color: white;
	background-color: transparent;
	border: 0;
	min-height: 40px;
}
.card__input-text:focus {
	outline: 0;
}

.card__text {
	min-width: 200px;
	display: flex;
	/*border: 2px solid greenyellow;*/
	}
.card__form {
	display: none;
}

.card__text_hide {
	display:none;
}
.card__form_show {
	display: flex;
}

.notes-list-stared {
	display: flex;
	color: rgba(255,255,255,.3);
	font-size: 14px;
}
.notes-list-stared_none {
	display: none;
}
.card__button-star_starred {
	background-image: url(../images/star-starred.png);
}